// Reset scss
@import 'normalize.scss';
@import 'font-awesome/css/font-awesome.min.css';

:root {
	--color-content-linked: #ffc400;
	--color-input-text: #313139;
	--color-footer-bg: #ffffff;
	--color-footer-text: #28282e;
	--padding-x: 60px;
	--header-height: 140px;
	--footer-height: 139px;

	/* X-Small devices (portrait phones, less than 576px) */
	@media (max-width: 575.98px) {
		--header-height: 80px;
		--footer-height: 80px;
	}
}
html {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
}
* {
	font: inherit;
	color: inherit;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	line-height: 1.5;
	letter-spacing: 0.5px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: var(--color-content, #414145);
	font-weight: 300;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: unset;
	}
}
hr {
	border-top: 1px solid #eeeeee;
}
small,
p {
	font-size: 20px;
	color: var(--color-content, #414145);
	/* Small devices (landscape phones, less than 768px) */
	@media (max-width: 767.98px) {
		font-size: 16px;
	}
}
button {
	background: none;
	border: 0;
	box-shadow: none;
	cursor: pointer;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
	color: var(--color-title, #313139);
	font-weight: 600;
	margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
